BasedOnStyle: WebKit

UseTab: ForContinuationAndIndentation
IndentWidth: 8
TabWidth: 8
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 8
IndentPPDirectives: BeforeHash

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpaceBeforeAssignmentOperators: true
SpaceAfterCStyleCast: false
AlignOperands: Align
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignEscapedNewlines: LeftWithLastLine
QualifierAlignment: Left
BreakBeforeBinaryOperators: None
SpaceInEmptyBlock: false

# slightly modified K&R style
BreakBeforeBraces: Custom
BraceWrapping:
  AfterStruct: false
  AfterEnum: false
  AfterFunction: true
  BeforeElse: true
  AfterControlStatement: false
  IndentBraces: false

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: false

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '^".*"$'
    Priority: 2

ColumnLimit: 100
AlignConsecutiveMacros: false
InsertNewlineAtEOF: true
LineEnding: LF
